.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button{
    margin: 6px;
    padding: 10px;
    width: 120px;
    border-radius: 7px;
    border: none;
    background-color: blue;
    color: #fff;
    font-weight: bold;
    
    font-family: monospace;
    font-size: 20px;

}

h3{
    text-transform: uppercase;
    font-family: monospace;
    font-size: 40px;
}