body{
    padding: 0;
    margin: 0;

}

.edit-box{
    display: none;
    flex-direction: column;
    /* justify-content: right ; */
    align-items: center;
    width: 200px;
    margin: 10px;
    /* margin-left: 50px; */
    border: 1px solid;
    border-radius: 6px;
    background-color: rgba(28, 22, 22, 0.285);
}

#nameinput{
    width: 140px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid;
}
#password{
    width: 140px;
    margin: 10px;
    border-radius: 5px;
        border: none;

        border-bottom: 1px solid;

}

#loginbtn{
    width: 70px;
    border-radius: 7px;
    border: none;
    padding: 4px;
    background-color: blue;
    color: white;
    margin-bottom: 20px;
}