.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.bulb{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
   height: 80px; 
   width: 80px;
   border-radius: 111px;
   border: 2px solid black;
   margin-bottom: 20px;
}
/* // ye sirf toggleclass ke lei hai  */
/* .light-yellow{
    background-color: yellow;
    border: none;
} */



.container button{
    padding: 10px;
    border-radius: 7px;
    background-color: blue;
    border: none;
    color: #fff;

}

